<%if(!setting.partyType || setting.partyType =="-1" || setting.partyType =="1"){%>
<tr row_tag='<%=tag%>' party_uid="<%=p.party.partyUID%>">
    <% if(setting.select){%>
    <td><input type="checkbox" onchange="partyListPicker.selectionChanged('<%=setting.containerEl%>','<%=tag%>')" /></td>
    <%}%>
    <td><%= p.party.name1 %> <%= p.party.name2 %>  <%= p.party.name3 %> </td>
    <td><%= lookUPCode('static.sex',p.party.sex) %></td>
    <td><%= toEthDateStr(p.party.dateOfBirth) %></td>
    <td><%= lookUPCode('nrlais_sys.t_cl_maritalstatus', p.party.maritalstatus)%></td>
    <td><%= lookUPCode('static.family_role',p.party.mreg_familyrole) %></td>
    <% if(p.party.guardian){ %>
    <td><%= p.party.guardian.name1 %> <%= p.party.guardian.name2 %>  <%= p.party.guardian.name3 %> </td>
    <% }else{ %>
    <td><%=lang("No Guardian")%></td>
    <% } %>
    <% if(setting.share){ %>
    <td><%=common_fractionToString(p.share) %></td>
    <% } %>
    <% if(setting.idDoc){ %>
    <td><%=p.idDoc.refText%></td>
    <% } %>
    <% if(setting.edit || setting.delete){
%>
    <td class="align-right">
        <% if(setting.delete){ %>
        <a href="javascript:partyListPicker.removeItem('<%=setting.containerEl%>','<%=tag%>')"class="btn btn-default btn-xs"><i class="fa fa-trash"></i> <%=lang("Remove")%> </a>
        <% }
        if(setting.edit){ %>
        <a href="javascript:partyListPicker.editItem('<%=setting.containerEl%>','<%=tag%>')" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> <%=lang("Edit")%></a>
        <% } %>
    </td>
    <% } %>
</tr>
<%}else{%>
<tr>
<td><%= p.party.name1 %></td>
<td><%=lookUPCode('nrlais_sys.t_cl_organizationtype', p.party.orgatype)%></td>
<td><%=p.party.contacts.length>0?p.party.contacts[0].contactData:""%></td>
<% if(setting.edit || setting.delete){
%>
    <td class="align-right">
        <% if(setting.delete){ %>
        <a href="javascript:partyListPicker.removeItem('<%=setting.containerEl%>','<%=tag%>')"class="btn btn-default btn-xs"><i class="fa fa-trash"></i> <%=lang("Remove")%></a>
        <% }
        if(setting.edit){ %>
        <a href="javascript:partyListPicker.editItem('<%=setting.containerEl%>','<%=tag%>')" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> <%=lang("Edit")%></a>
        <% } %>
    </td>
    <% } %>
</tr>
<% } %>
