<table  class="table table-striped jambo_table">
    <thead>
        <tr>
            <td><%=lang("Parcel No")%></td>
            <td><%=lang("Area")%></td>
            <td><%=lang("Owner")%></td>
            <td><%=lang("Select")%></td>
            
        </tr>
    </thead>
    <tbody>
        <%
            var parcels=controller.getParcels();
            for(var i in parcels){ 
                var p=parcels[i];%>
        <tr parcel_uid="<%=p.parcelUID%>" >
            <td><%=formatParcelSeqNo(p.seqNo)%></td>
            <td><%=p.areaGeom%></td>
            <td>
                <%for(var j in p.rights){%>
                   <%=p.rights[j].party.name1%><br/>
                <%}%>
            </td>
            <td>
                <input type="checkbox" id="par_select" <%=controller.isSelected(p.parcelUID)?"checked":""%> />
            </td>
        </tr>
        <%}%>
    </tbody>
</table>