<tr parcel_uid="<%=p.parcel.parcelUID%>" <%-(p.parcel.editStatus!='i')?'style="background:lightgreen"':""%> >
    <% if(setting.select){%>
    <td><input type="checkbox" onchange="parcelListPicker.selectionChanged('<%=setting.containerEl%>','<%=tag%>')" /></td>
    <%}%>
    <td><%= formatParcelSeqNo(p.parcel.seqNo)%> </td>
    <td><%= p.parcel.areaGeom %></td>
    <td><%= lookUPCode('nrlais_sys.t_cl_landusetype',p.parcel.landUse) %> (<%=p.parcel.landUse%>)</td>
    <td><%= lookUPCode('nrlais_sys.t_cl_acquisitiontype',p.parcel.mreg_actype)%></td>
    <td><%=p.parcel.mreg_acyear%></td>
    <% if(setting.edit || setting.delete || setting.split){
%>
    <td class="align-right">
        <% if(setting.delete){ %>
        <a href="javascript:parcelListPicker.removeItem('<%=setting.containerEl%>','<%=tag%>')"class="btn btn-default btn-xs"><i class="fa fa-trash"></i> <%=lang("Remove")%></a>
        <% }
        if(setting.edit){ %>
        <a href="javascript:parcelListPicker.editItem('<%=setting.containerEl%>','<%=tag%>')" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> <%=lang("Edit")%></a>
        <% } if(setting.split){ %>
        <a href="javascript:parcelListPicker.showPopover('<%=setting.containerEl%>','<%=tag%>')"  class="btn btn-default btn-xs"><i class="fa fa-edit"></i> <%=lang("Split")%></a>
        <input type="text" placeholder="No of Parcels" style="display:none"/>
        <% } %>
    </td>
    <% } %>
    <%if(setting.mapLink){%>
        <td class="align-right">
            <a href="javascript:parcelListPicker.showOnMap('<%=setting.containerEl%>','<%=p.parcel.parcelUID%>')"><i class=fa fa-eye></i></a>
        </td>
    <%}%>
</tr>
