<%for(var i=0;i<tabs.length;i++){ 
    var tab=tabs[i];%>
        <div class="stepwizard-step">
            <a id='<%=tab.id%>' href="javascript:wizardPages.openPage('#<%=tab.id%>')" type="button" class="btn <%=tab.active?'btn-primary':'btn-default'%> btn-circle"><%=i+1%></a>
        </div>
<%}%>

