<%if(deletedHoldings.length>0){%>
<div class="panel panel-danger">
  <div class="panel-heading"><h4><%=lang("Deleted Holdings")%></h4></div>
  <div class="panel-body">
    <%for(var i=0;i<deletedHoldings.length;i++){%>
    <div id="sum_del_<%=deletedHoldings[i].holdingUID%>">
    </div>
    <%}%>
  </div>
</div>
<%}%>


<%if(updatedHoldings.length>0){%>
<div class="panel panel-info">
  <div class="panel-heading"><h4><%=lang("Updated Holdings")%></h4></div>
  <div class="panel-body">
         <%for(var i=0;i<updatedHoldings.length;i++){%>
         <h5><%=lang("Record before Update")%></h5>
        
        <div id="sum_up_old_<%=updatedHoldings[i].holdingUID%>"></div><hr>
        <h5><%=lang("Record after Update")%></h5>
        <div id="sum_up_new_<%=updatedHoldings[i].holdingUID%>"></div><hr>
         <%}%>
 </div>
</div>
<%}%>

<%if(newHoldings.length>0){%>
<div class="panel panel-success">
  <div class="panel-heading"><h4><%=lang("New Holdings")%></h4></div>
  <div class="panel-body">
    <%for(var i=0;i<newHoldings.length;i++){%>
    <div id="sum_new_<%=newHoldings[i].holdingUID%>">
    </div>
<%}%>
 </div>
</div>
<%}%>