
    <div class="modal-dialog">
        <div class="modal-content" id="rent_form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Rent Information</h4>

            </div>            <!-- /modal-header -->
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-md-12">
                            <input field="right_uid" value="<%=controller.rightUID()%>" hidden />
                            <div class="form-group col-md-6">
                                <label>Rent</label>
                                <input field="rent_type_rent" type="radio"
                                       name="<%= controller.setting.containerEl %>_rent_type"<%= controller.isRent()?"checked":"" %> />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Lease</label>
                                <input field="rent_type_lease" type="radio"
                                       name="<%= controller.setting.containerEl %>_rent_type" <%= controller.isRent()?"":"checked" %> />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>Select Tenant/Lesse</label>
                                <select field="party">
                                    <% var persons = controller.persons();
                                            for(var i in persons){ %>
                                    <option value="<%= persons[i].party.partyUID %>" <%= persons[i].party.partyUID==controller.party().partyUID?"selected":"" %>><%= controller.fullNameOf(persons[i].party) %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>Select Parcel</label>
                                <select field="parcel">
                                    <% var parcels = controller.parcels();
                                            for(var i in parcels){ %>
                                    <option value="<%= parcels[i].parcel.parcelUID %>" <%= parcels[i].parcel.parcelUID==controller.parcel().parcelUID?"selected":"" %>><%= controller.seqNoOf(parcels[i].parcel) %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>Rent/Lease From</label>
                                <input type="text" field="rentFrom" value="" dateVal=<%=controller.fromDateVal()%>/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Rent/Lease To</label>
                                <input type="text" field="rentTo" value="" dateVal=<%=controller.toDateVal()%>/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>Rent/Lease Amount</label>
                                <input type="text" field="rentAmount" value="<%=controller.leaseAmount()%>"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Area</label>
                                <input type="text" field="rentArea" value="<%=controller.rentSize()%>"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left parcel-error-panel">

                </div>
                <div class="form-group pull-right">
                    <input type="button" value="Save" field="save_rent"/>
                </div>
            </div>
        </div>
    </div>


