/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2017, 8:21:09 PM
    Author     : Yite
*/
@font-face {
    font-family: Nyala;
    src: url(nyala.ttf);
}
@page {
}
body
{
    margin:20px;
    font-family: 'nyala';
}
.row
{
    margin-left: 0px;
    margin-right: 0px;
}
.certificate-body
{
        /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
    padding:10px 15px;
/*    -webkit-border-image: url(../image/border-frame2.png) 100 round;  Safari 3.1-5 
    -o-border-image: url(../image/border-frame2.png) 100 round;  Opera 11-12.1 
    border-image: url(../image/border-frame2.png) 120 round;*/
    
   
}

 .holding-description
{
   padding:0 5px;
   
}
.certificate-back{
        /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    border: 3px dotted #000000;
    padding: 20px;
    border-radius: 70px;
 
}
.certificate-back p{
    text-align: justify;
    letter-spacing: 2px;
    font-size: 20px;
}
.certificate-back-content
{
    border: 5px dotted #000000;
    padding: 20px;
    margin: 20px 10px;
}
.section-1{
    
    padding: 0px 30px;
}
.section-2{
    padding: 0 30px;
        border-left: 2px dotted #000;
}
.certificate-footer {
    border:3px solid #000;
    margin: 10px 60px 0px 60px;
    padding: 0px 30px;
    letter-spacing: 7px;
    word-spacing: 7px;
    font-size: 30px;
}
.certificate-header{
    width: 100%;
}
.map{
    margin-right: 10px;
    width: 80%;
    margin-left: 30px;
}
.map img
{
    width: 100%;
    padding:2px;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.vertical-align{
    align-items:baseline;
}
.cert-desc{
    vertical-align: top;
}
.legend-table{
    border: 1px solid black;
    
}
.legend-table td{
    padding: 1px 2pt;
}
.amhara .legend-table td{
    padding: 1px 2pt;
}
.amhara .table-title, .amhara .holder-info, .amhara .holder-parcel, .amhara .parcel-confirm, .amhara .scale{
    width: 100%;
    margin-bottom:5px; 
}
.table-title, .holder-info, .holder-parcel, .parcel-confirm,.scale{
    width: 100%;
    margin-bottom:5px; 
}
.holder-info, .parcel-confirm,  .scale{
    border: 1px solid black;
}
 .holder-info th, .holder-parcel th{
     text-align:left;
    padding: 5px;
}
#tigray .legend-table {
    font-size: 2em;
    border: none;
}
#tigray .parcel-confirm{
    border: none;
    padding-left: 30px;
}
#tigray .parcel-confirm td{
    padding: 10px 0px;
}
#tigray .parcel-confirm td b{
    letter-spacing: 3px;
}
#tigray .holder-parcel td{
     padding: 3px;
}
#tigray .holder-parcel{
    font-size: 14pt;
    
}
#tigray .holder-name{
    margin-bottom: 20px;
}
#tigray .title{
    word-spacing: 5px;
    letter-spacing: 3px;
}
#tigray .holder-parcel2 .legend-table{
    padding-left:30px;
    margin-top: 80px;
}
#tigray .cert-desc .empty{
    color: #FFF;
}
#tigray .cert-desc label{
    border-bottom: 2px dotted #000;
}
#amhara .holder-parcel td, #amhara .parcel-confirm td{
     padding: 3px;
}
.tigray .holder-info td{
    padding: 3px;
    vertical-align: top;
}
#amhara .holder-info td{
    padding: 3px;
    vertical-align: top;
}
#amhara .table-title h1, #amhara .table-title h3{
    margin: 0;
}
#amhara .holder-info td{
    height: 100px;
    vertical-align: top;
}
#amhara .holder-parcel{
    border: 1px solid #000;
}
#amhara .holder-parcel h3{
    margin: 0;
    text-align: center;
}
.break{
    page-break-after:always;
}
#snnp .holder-parcel{
    border: 1px solid #000;
}
#snnp .holder-parcel td, #snnp .holder-info td, #snnp .parcel-confirm td{
    padding: 7px 0px;
}
#snnp .legend-table p{
    font-size: 1.5em;
    margin: 0;
}
#snnp .holder-info td{
    height: 130px;
    vertical-align: top;
}